.episode {
  h3 {
    margin-top:0;
    margin-bottom: 10px;
    color:#673ab7;
  }//h3
  p {
    margin:0;
    line-height: 20px;
  }//p
  img {
    margin:10px 0;
    min-width: 100px;
    min-height: 145px;
    border-radius: 0;
  }//img
  button {
    background: #673ab7c4;
    color: ghostwhite;
  }//button



}//episode





