<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h1>Episodes</h1>
      <hr/>
    </div>
  </div>   
 
  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="250px">
      <div class="episode">
        <mat-grid-tile *ngFor="let episode of episodes"
          (click)="onSelectedEpisode(episode)">
          <img height="250px" src="{{episode.cover}}" />
          <mat-grid-tile-footer>
            <p>seasonId: {{episode.seasonId }}</p>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>

  <app-episode-details [isSelected]="selectedEpisode" ></app-episode-details>

</div>

