.down-mouse.img-responsive {
  height: 5px;
  background: #3a3a3a;
  @media screen and (max-width:768px) {
    color:#4c517d;
    height: 5px;
   
  }
  
  
  
  img {
      position: absolute;
      width:100%;
      max-width: 200px;
      top: 85vh;
      left:45%;
      z-index: 10;
      cursor: pointer;
      &.ishidden {
        top:-85vh !important;
      }
      @media screen and (max-width:1200px) {
        width: 144px;
        top: 89.5vh;
      }
      @media screen and (max-width:1024px) {
        width: 144px;
        top: 92.75vh;
      }

      @media screen and (max-width:768px) {
        width:110px;
        top: 92.5vh;
      }
      @media screen and (max-width:414px) {
        top: 89.75vh;
        left: 40%;
      }
      @media screen and (max-width:375px) {
        top: 90.5vh;
      }
      @media screen and (max-width:360px) {
        top: 88.25vh;
        left: 35%;
      }
      @media screen and (max-width:320px) {
        top: 86.5vh;
        
      }

  }//img
  
}//mouse-down






