mat-card-header.episode-title {
  display:block;
  h3 {
    text-align: center;
    font-size: 1.35em;
    color:#7E57C2;
  }//h3
 
}//episode-title

.cover {
  max-width: 400px;
  margin:0 auto;
  display: block;
  padding:1em;
}