// colors available in theme: primary color, accent color, warning color
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/*
 all colors
 ------
*/

//btn colors
$purple: #673ab7;
$purple-10: #5d28bc;
$pink-ic: #c3588e;
$active-bcolor: #6f41c7d9;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #424242;
$divider-color:        #BDBDBD;
//background
$body-bg: #fafafa;
$nero: rgba(0,0,0,0.87);

/*
 mixins
 ------
*/
@mixin fat-container {
    @media screen and (min-width:1200px) {
      max-width: 1470px !important;
      width: 90vw;
      margin-left:15px;
      margin-right: 15px;
      margin-left:auto;
      margin-right: auto;
    }
}

@mixin btn-primary {
  color: #fff;
  background-color: #673ab7;
  border-color: #5d28bc;
  &:hover {
    background-color: #845ec7;
    border-color: #7047b8;
    color:#fff;
  }
  &:active {
    background-color: #8d58ea;
    border-color: #7E57C2;
    box-shadow: inset 0px 0px 1px 0px #9C27B0;
    color: #f0fefe;
  }
}

@mixin subtitle {
  @media screen and (max-width:599px) {
    font-size: 16px;
  }//599
  display:inline-block;
  margin-top:10px;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: $nero;
    
}


body {
  z-index: -1;
  background-color: $body-bg;
  color: $nero;
}



h1,h2,h3,h4,h5,h6,p {
  font-weight: 300;
  color:$nero;
}

/*
 season-header
 -------------
*/
.season-header {
  @media screen and (max-width:767px) {
    padding:0 15px !important;
  }//767
  
  h1  {
    color:$nero;
    font-weight: 400;
    span.subtitle {
      @media screen and (max-width:767px) {
        display:block;
        font-size:16px !important;
        padding-bottom:10px !important;
        margin-top:10px;
      
      }//767
      
    }//subtitle
    @media screen and (max-width:991px) {
      font-size: 2.4em;
    
    }//991
  
  }//h1
  
}//season-header






/*
 main-menu
 ---------
*/
.mat-toolbar.mat-primary {
  z-index: 10;
  overflow: hidden;
  

}//mat-toolbar

.cdk-overlay-pane{
  margin-top:3.3em;
  .mat-menu-panel {
      width:175px;
      background:#b8abbe8c;
      button.mat-menu-item {
        color:#32004b;
        .mat-icon {
          color:#7B1FA2;
          
        }
        span {
          line-height: 24px;
          vertical-align: middle;
        }
      }
    }//mat-menu-panel
}//cdk-overlay-pane



.subtitle {
  @include subtitle();
}

.btn-primary {
  @include mat-elevation-transition;
  @include btn-primary();
  
}





.active {
  background: $active-bcolor;
}







@media (min-width:1200px) {
    @include fat-container();
}
 