// colors available in theme: primary color, accent color, warning color
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #424242;
$divider-color:        #BDBDBD;
$active-bcolor: #6f41c7d9;

//btn colors
$purple: #673ab7;
$purple-10: #5d28bc;
.active {
  background: $active-bcolor;
}

//top-menu
.mat-menu-panel {
  width:170px;
  background: #7b1fa28c;
  button.mat-menu-item {
    color:#32004b;
    .mat-icon {
      color:#7B1FA2;
      
    }
    span {
      line-height: 24px;
      vertical-align: middle;
    }
  }


}//mat-menu-panel




.cdk-overlay-pane{
  margin-top:2.3em;
}

@mixin btn-primary {
  color: #fff;
  background-color: #673ab7;
  border-color: #5d28bc;
  &:hover {
    background-color: #845ec7;
    border-color: #7047b8;
    color:#fff;
  }
  &:active {
    background-color: #8d58ea;
    border-color: #7E57C2;
    box-shadow: inset 0px 0px 1px 0px #9C27B0;
    color: #f0fefe;
  }
}

@mixin subtitle {
    font-size: .5em;
    font-style: italic;
    margin-left: 10px;
    color: $secondary-text-color;
}


.btn-primary {
  @include btn-primary();
}

.subtitle {
  @include subtitle();
}

h1 {
  color: $primary-text-color;
}

p {
  color: $secondary-text-color;
}




.background-primary {
    background-color: $background-dark!important;
  }
.background-accent {
    background-color: $accent-color!important;
  }
.text-floral-white {
    color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}