<div class="container" 
  fxLayout="row" 
  fxLayout.sm="column" 
  fxLayout.xs="column" 
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="30">
    <div fxFlex *ngIf="isSelected">
      <mat-card class="episode-card">
        <mat-card-header class="episode-title">
          <mat-card-title><h3>{{isSelected.title | uppercase }}</h3></mat-card-title>
        </mat-card-header>
        <img class="cover" mat-card-image src="{{isSelected.cover}}" alt="{{isSelected.title}}">
        <mat-card-content>
          <p>
            {{isSelected.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>{{isSelected.price}}</button>
          <button mat-button>{{isSelected.episodeNumber}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex="30">
    <div fxFlex *ngIf="isSelected">
      <mat-card class="episode-card">
        <mat-card-header class="episode-title">
          <mat-card-title>
            <h3>{{commentsTitle | uppercase }}</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let comment of isSelected.comments; index as i; last as isLast">
          <p>
            {{comment.comment}}
          </p>
          <p>
            {{comment.rating + " stars"}}
          </p>
          <p>
            {{comment.author}},  {{ comment.date | date: mediumDate}}
          </p>
          <div *ngIf="!isLast">
            <hr/>
          </div>  
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>









