@import '~@angular/material/theming';

@mixin mat-display-1 {
  margin:20px 0 10px;
}

.contact-header {
  .season-contact-header {
    h1 {
      @include mat-display-1;
      text-align: left;
      @media screen and (max-width:599px) {
        text-align: center;
      }
    }//h1
  }//season-header

}//contact-header

.isbusiness {
  min-height: 850px;
  .inner-contact {
    padding: 0 1em;
    @media screen and (max-width:599px) {
      padding: 0;
      
    }
    .business-address {
      address {
        margin-left:.5em;
      }//address
    }

    .call-to-action {
      margin:2em 0 3em;
      .button-row button, .button-row a {
        margin-right: 8px;
        margin-bottom: 30px;
      }//button-row

    }//call-to-action

    .findus-map {
      min-height: 400px;
      border: 1px solid lightgray;
      margin-bottom: 50px;

    }//findus-map

    .form-size {
      margin-bottom: 3em;
      h3 {
        
        width:100%;
        text-align: left;
        margin-bottom: 1.5em;
        color:#673ab7;
        .mat-icon {
          vertical-align: bottom;
        }

        span.feedback-sub {
          font-size: .75em;
          color:#606060;
          @media screen and (max-width:599px) {
            display:none;
          }//599
        }

        span.feedback-submitted {
          margin-left: 20px;
          font-size: .8em;
          color: darkred;
          
        }//feedback-submitted  
        

      }//h3

      #feedback.contact {
        padding: 1em 0;
        width:100%;
        height: auto;
        
        .disabled {
          box-shadow: 0 0 0 0 rgba(0,0,0,.2), 
                       0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);
          color: #673ab7;
          border: 1px solid currentColor;
          padding: 0 15px;
          line-height: 34px;
        }

       
       
            
       
         section.fav-season {
            &:hover, &:active {
              @include mat-elevation(3);
              .top-slide {
                border-bottom: 2px solid #606060;
              }

            }
            @include mat-elevation-transition;
            border-bottom: 1px solid #8b8b8b;
            color:#606060;
            background:#f0f0f0;
            
            padding: 0;
            mat-label {
              display: block;
              span.selectedSeason {
                color: #673ab7;
                font-size:1.1em;
              }
            }
            mat-slider {
              margin:18px 0;
    
            }// mat-slider
            .mat-slider-horizontal {
              @include mat-elevation-transition;
             
             
              width:300px;
              display: block;
              transition-delay: .1ms;
              transition:box-shadow ease-in .25s;
              &:hover, &:active {
                transition-delay: .1ms;
                transition:box-shadow ease-in .25s;
                @include mat-elevation(3);
                background:#d6bfff;
              }

            }
            .mat-hint {
              font-size:11px;
              font-weight: bold;
            }

            .top-slide {
              padding: 16px 10px 0px;
              border-bottom: 1px solid #8b8b8b;
            }
            .hints {
              padding: 0px 10px;
              background: #fafafa;
              .mat-hint {
                opacity:1;
                font-size: 10.5px;
                font-weight: 500
              }
              
            }
           
            

          

          }// fav-season

         
        

        .mat-form-field.mat-form-field-appearance-fill {
          @include mat-elevation-transition;
          border-bottom: 1px solid #8b8b8b;
          &:hover, &:active {
            @include mat-elevation(3);
          }
          
          .mat-form-field-wrapper {
            @include mat-elevation-transition;
            @include mat-elevation(2, #e91e63, 0.8);
            

          }//mat-form-field-flex
          
          display:flex;
          flex-direction: column;
          
          
        }//mat-form-field

       

        

        .form-consent {
          &.mat-card {
            padding: 14px;
            margin-bottom: 19px;

          }//mat-card


        }//form-consent

        .feedback-buttons {
          display:flex;
          flex-wrap: nowrap;
          flex-direction: row;
          justify-content: flex-start;
          margin:2em 0 3em;

        }//feedback-buttons

      }//#contact.contact

    }//form-size



  }//inner-contact


}//isbusiness




.mat-form-field-flex {
  padding-top:1.75em;
}
.mat-hint strong {
  font-weight: 400;
}





