<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div class="season-header">
      <h1>Where to find us
        <span class="subtitle">We'll never hide from you.. unlike some.</span>
      </h1>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <div class="inner-contact">
      <div fxLayout="column" fxLayout.gt-sm="row">
        <div fxFlex="50" fxFlexOffset="20px">
          <h4>Business address:</h4>
          <address>
            60 Cardigan road
            <br> Canary Wharf
            <br> London
            <br>
            <i class="fa fa-phone"></i>: 0203-224-2929
            <br>
            <i class="fa fa-envelope"></i>:
            <a href="mailto:stefano@theRealSouthPark.com">stefano@theRealSouthPark.com</a>
          </address>
        
          <div class="call-to-action">
            <div class="button-row">
              <a mat-raised-button href="tel|+02032241919">
                <i class="fa fa-phone"></i> Call
              </a>
              <a mat-raised-button>
                <i class="fa fa-skype"></i> Skype
              </a>
              <a mat-raised-button href="mailto:confusion@food.net">
                <i class="fa fa-envelope-o"></i> Email
              </a>
            </div>
          </div>
        </div>
        <div fxFlex="40">
          <h4>Google us:</h4>
          <div class="findus-map">


          </div>
        </div>
      </div>
    </div>
  </div>
</div>