<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <header>
        <h1>Dog Walking routes</h1>
      </header>
      <div class="dogroutes"> 
        <div class="colxs-12 col-sm-12 col-md-4"
            *ngFor="let dogRoute of allDoggieRoutes">
            <mat-card class="dog-card">
              <mat-card-header>
                <mat-card-title>{{dogRoute.name}}, {{dogRoute.id}}</mat-card-title>
              </mat-card-header>
              <img mat-card-image
                [routerLink]="['/dogroutes',dogRoute.id]"
                src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  This is dog route: <span>{{dogRoute.name}}</span> and 
                  id: <span>{{dogRoute.id}}</span>
                </p>
              </mat-card-content>
              <mat-card-actions>
                <div class="button-row">
                  <button class="route-details-button" 
                    mat-raised-button 
                    [routerLink]="['/dogroutes',dogRoute.id]"
                    color="primary">
                    Route details
                  </button>
                  <button mat-fab color="accent">
                    SHARE
                  </button>
                </div>  
              </mat-card-actions>
            </mat-card>
         
        </div>
      </div> <!-- endof /.dogroutes -->  
    </div>
  </div> <!-- endof /.row -->
  
</div> <!-- endof /.container -->



