<div class="footer" 
     fxLayout="row wrap" 
     fxLayout.lt-md="column" 
     fxLayoutAlign="center center" 
     fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h3 mat-subheader>The Real South Park</h3>

        <div class="footer-menu">
          <button mat-menu-item 
            routerLink="/home" 
            routerLinkActive="active">
              <mat-icon>home</mat-icon>
              <span>Home</span>
          </button>
          <button mat-menu-item 
            routerLink="/episodes" 
            routerLinkActive="active">
              <mat-icon>theaters</mat-icon>
              <span>Episodes</span>
          </button>
          <button mat-menu-item 
            routerLink="/seasons" 
            routerLinkActive="active">
              <mat-icon>video_label</mat-icon>
              <span>Seasons</span>
          </button>
          <button mat-menu-item
            routerLink="/contact" 
            routerLinkActive="active">
              <mat-icon>person_pin</mat-icon>
              <span>Contact</span>
          </button>
        </div> 

      </div>
    </div>
  </div>

  
  <div fxFlex="100"
       fxLayout="row"
       fxLayoutAlign="end"
       fxFlex.gt-sm="45">
    <div>
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+">
        <i class="fa fa-google-plus fa-lg"></i>
      </a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id=">
        <i class="fa fa-facebook fa-lg"></i>
      </a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/">
        <i class="fa fa-linkedin fa-lg"></i>
      </a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/">
        <i class="fa fa-twitter fa-lg"></i>
      </a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/">
        <i class="fa fa-youtube fa-lg"></i>
      </a>
      <a mat-icon-button class="btn-mail" href="mailto:">
        <i class="fa fa-envelope-o fa-lg"></i>
      </a>
    </div>
  </div>
  <div class="copy">
    <p>© Copyright 2018 TheReal¬SouthPark</p>
  </div>
</div>