.login-popup {

    h3 {
      font-size:24px;
      color: #673ab7;
      font-weight: 400;
    }
    .inner-popup {
      margin-bottom: 2em;
      .mat-form-field {
        display:flex;
        flex-direction: column;
        .hint {
          color: #673ab7;
        }//hint
        
      }//mat-form-field

      .mat-dialog-content {
        margin-bottom: 1em;
      }

      .mat-dialog-actions {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        
      } //mat-dialog-actions 
      




    }//inner-popup
    





}// login-popup