.episode {
  border: 1px solid #ede7f6;
  padding: 1em;
  h3 {
    margin-top:0;
    margin-bottom: 10px;
    color:#673ab7;
  }//h3
  p {
    margin:0;
    line-height: 20px;
  }//p
  img {
    margin:10px 0;
    min-width: 100px;
    min-height: 145px;
    border-radius: 0;
  }//img



}//episode





