<div class="container">
  <mat-list>
    <mat-list-item *ngFor="let episode of episodes">
      <div class="episode">
        <h3 matLine>title: {{episode.title}}</h3>
        <p matLine>id: {{episode.episodeNumber}}</p>
        <p matLine>seasonId: {{episode.seasonId}}</p>
        <p matLine>description: {{episode.description}}</p>
        <img matListAvatar src="{{episode.cover}}" />
        <p matLine>price: {{episode.price}}</p>
        <button mat-raised-button>Click me!</button>
      </div>
     
      </mat-list-item>
  </mat-list>
  <!-- endof matlist -->
</div>