<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h1>Season 10 Episodes</h1>
      <hr/>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="250px">
      <div class="seasons">
        <mat-grid-tile *ngFor="let ten of season10"
          (click)="onEpisodeSelected(ten)">
          <img height="200px" width="300px" src="{{ten.cover}}" />
          <mat-grid-tile-footer>
            <p>Episode: {{ten.episodeNumber }}</p>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>

 <app-season10-details [tenSelected]="isTen"></app-season10-details>

</div>