<div class="container">

  <div class="featuredOn" [class.featuredOff]="isFeaturedSelected">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h1>Featured
          <span class="subtitle">click season for details on featured episode offer (random only) </span>
        </h1>
        <hr/>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail card-body">
          <img class="img-responsive" width="630px" height="630" src="{{featured1.cover}}" (click)="onFeaturedSelected(featured)" />
          <div class="caption">
            <h3>Season {{featured1.seasonId }}</h3>
            <p>
              <a class="btn btn-primary" role="button" (click)="onFeaturedSelected(featured)">Buy</a>
              <a class="btn btn-default" role="button" (click)="onFeaturedSelected(featured)">More</a>
             
            </p>
            

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="thumbnail card-body">
          <img class="img-responsive" width="630px" height="630" src="{{featured2.cover}}" (click)="onFeaturedSelected(season)" />
          <div class="caption">
            <h3>Season {{featured2.seasonId }}</h3>
            <p>
              <a class="btn btn-primary" role="button" (click)="onFeaturedSelected(episode)">Buy</a>
              <a class="btn btn-default" role="button" (click)="onFeaturedSelected(episode)">More</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  
  </div>
  <!-- endof featured -->
  

  <div class="divider">
    <hr/>
  </div>
 
  
  <div class="random randomOn" [class.randomOff]="isSelected"> 
    <div>
      <h1>Random Seasons
        <span class="subtitle">click season for details below</span>
      </h1>
      <hr/>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4" 
        *ngFor="let season of randomSeasons" >
        <div class="thumbnail card-body">
          <img class="img-responsive" width="630px" height="630" 
            src="{{season.cover}}"
             (click)="onSelectedSeason(season)" />
          <div class="caption">
            <h3>Season {{season.seasonId }}</h3>
            <p>
              <a class="btn btn-primary" role="button"
               (click)="onSelectedEpisode(episode)">Buy</a>
              <a class="btn btn-default" role="button"
               (click)="onSelectedEpisode(episode)">More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  
  </div>  


    <!-- details -->

    <div class="random" *ngIf="isSelected">
      <div class="row">
        <div class="col-sm-8">
          <h1>Season {{selectedSeason.seasonId}}
            <span class="subtitle">Episode {{selectedSeason.episodeNumber}}</span>
          </h1>
        </div>
        <div class="col-sm-4">
          <button type="button" 
            class="btn btn-info btn-lg pull-right all-seasons"
            (click)="backToSeasons()">
            All seasons</button>
        </div>
      </div>
      
      <hr/>

      <div class="row">  
        <div class="col-sm-12 col-md-6">
          <div class="card-body">
          <img class="img-responsive" width="630" height="630" src="{{selectedSeason.cover}}" />
          </div>
        </div>  

        <div class="col-sm-12 col-md-6">
          <div class="card-body padding-20">
            <h3>{{selectedSeason.title}}</h3>
          
              <h5>Price: £ <span class="label label-danger">
                {{selectedSeason.price}}
              </span></h5>
              <div class="card-description">
                <hr/>
                <h5>Description:</h5>
                <p>{{selectedSeason.description}}</p>
              </div>
          </div>
        </div>  
      </div>  
 

    </div>  
  
  
   
  










