.divider {
  height: 50px;
  margin-top:3em;
}



.thumbnail { 
  padding:0;
  img {
    overflow: hidden;
    cursor: pointer;
    width:100%;
    height: auto;
  }//img

}//thumbnail

.btn-primary {
    margin-right: 10px;

}//btn-primary

.random {
  margin-bottom:50px;
  

}//random

.randomOn {
  display:block;
  min-height: 100vh;
}

.randomOff {
  display: none;
  // min-height: 1076px;

}

.featuredOff {
  display:none;
}


.card-body {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 
  0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 2px;
  background-color: #fff;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  border: 0;
  &.padding-20 {
    padding:20px;
    h3 {
      margin-top:0;
      margin-bottom: 17px;
    }
    
    
    h5 span {
      line-height: 16px;
      vertical-align: text-bottom;
    }
    .card-description {
      p {
        text-align: justify;
      }
      &.featured {
        font-size: 1.2em;
        color: dimgray;
        h5 {
          font-size: 1.25em;
        }
      }
    }//card-description

  }//padding-20

}//card-body


.all-seasons {
  margin-top:20px;
  margin-bottom: 10px;
}


.castimgdiv {
  width:100%;
}

.castimgdiv img {
  width:100%;
  
}




.caption {
  
  padding-bottom: 15px;
  h3 {
    display:inline-block;
    margin-right: 12px;
    span {
      font-size: 18px;
      font-weight: 300;
      line-height: 36px;
      padding-top: 15px;
      margin:0;
      font-style: italic
    }
  }//h3
  h4 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-bottom: 45px;
    line-height: 1.6;
    padding-bottom: 20px;
  }//h4
  .button-row {
    padding-top:3px;
  }
  mat-button-ripple {
    margin-right: 3px;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 36px;
    padding-top: 15px;
    margin:0;
  }




}//caption