.featuredOn {
  //background-image: url("../../../assets/images/casa-bonita.jpg");
  //background-image: url(../../../../assets/images/season9.jpg);
  background-repeat: repeat-x;
  background-position: center center;
  @media screen and (max-width:768px) {
    padding: 0;
  }
  background: #f9f9f9;
  padding: 20px;
  .feature-header {
    h2 {
      text-align: end;
      img.purple-ic {
        display:inline-block;
        margin-right:10px;
        vertical-align: unset;
      }
      span.purple-ic {
        color:#7b3184;
        display: inline-block;
        margin-right:10px;
      }
      
    }//h2
    hr.featured {
        margin-bottom: 40px;
        width:96%;
        float:right;
    }//hr

    .divider {
      height: 50px;
      margin:3em 0;
      h2 {
        text-align: left;
      }
      hr.featured-b {
        width:90%;
        float: left;
        margin-bottom: 40px;
      }


    }//divider

    @media screen and (max-width:599px) {
      padding:0;
      h2 {
        padding-right: 0;
        padding-left: 0;
        text-align:center !important;
      }
      .divider {
        height: auto;
        padding-right:20px;
        padding-left:20px;
        h2 {
          padding-right: 0;
          padding-left: 0;
          text-align: center !important;
        }
        
      }//divider
    }
    






  }//feature-header



}//featuredOn





@media screen and (max-width:1200px) {
    .short {
      padding: 0 !important;
    }//short
    .short-r {
      padding: 0 !important;
    }//short-r


}//1200



.short {
  h2 {
    color:#c3588e;
  }
  padding: 3em 0 3em 3em;
  img.pink-ic {
    display:inline-block;
    margin-right:10px;
    vertical-align: unset;
  }
  
  @media screen and (max-width:599px) {
    padding:0;
    text-align: center;
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  }//599


}//short

.short-r {
  h2 {
    color:#c3588e;
  }
  padding:3em 3em 3em 0;
  img.pink-ic {
    display:inline-block;
    margin-right:10px;
    vertical-align: unset;
  }
  @media screen and (max-width:599px) {
    padding:0;
    text-align: center;
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  }//599

}//short-r


.thumbnail { 
 
  padding:0;
  img {
    overflow: hidden;
    cursor: pointer;
    width:100%;
    height: auto;
  }//img

}//thumbnail

.btn-primary {
    margin-right: 10px;

}//btn-primary

.random {
  margin-bottom:50px;
  

}//random

.randomOn {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  margin-top:3em;
  h2 {
    img.purple-ic {
      display:inline-block;
      margin-right:10px;
      vertical-align: unset;
    }
    span.purple-ic {
      color:#7b3184;
      display: inline-block;
      margin-right:10px;
    }


  }//h2
  
  hr {
    margin-bottom: 40px;
  }
  @media screen and (max-width:599px) {
    h2 {
      text-align: center;
    }  
  }
}

.randomOff {
  display: none;
  // min-height: 1076px;

}

.featuredOff {
  display:none;
}


.card-body {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 
  0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 2px;
  background-color: #fff;
  margin-bottom: 0;
  margin-right:3em;
  border: 0;
  cursor:pointer;
  &.padding-20 {
    padding:20px;
    h3 {
      margin-top:0;
      margin-bottom: 17px;
    }
    
    
    h5 span {
      line-height: 16px;
      vertical-align: text-bottom;
    }
    .card-description {
      p {
        text-align: justify;
      }
      &.featured {
        font-size: 1.2em;
        color: dimgray;
        h5 {
          font-size: 1.25em;
        }
      }
    }//card-description

  }//padding-20
  &.thumbnail {
    margin:0;
    margin-bottom: 2em;
   
  }

}//card-body


.all-seasons {
  margin-top:20px;
  margin-bottom: 10px;
}


.card-body.castimgdiv {
  width:100%;
  margin-bottom: 2em;
 
}

.castimgdiv img {
  width:100%;
  
}




.caption {
  padding-bottom: 15px;
  h3 {
    display:inline-block;
    font-weight: 300;
     margin-left: 10px;  
    margin-right: 12px;
    @media screen and (max-width:599px) {
      margin-left: 10px;  
    }
    span {
      font-size: 18px;
      padding-top: 15px;
      margin:0;
      font-style: italic
    }
  }//h3
  h4 {
    font-size: 16px;
    letter-spacing: 0.5px;
    padding-bottom: 45px;
    line-height: 1.6;
    padding-bottom: 20px;
  }//h4

  .button-row {
    .mat-mini-fab {
      margin-left: 10px;
      font-size: .7em;
      text-align: center;
    }
  }//button-row
  
}//caption



.thumbnail .caption h3 {margin-left:0;}

@media screen and (max-width:599px) {
.thumbnail.card-body h3 {
  margin-left:0px;
  font-weight: 300px;
}

}