@mixin intro {
  font-weight: 300;
  font-size: 21px;
  margin-bottom: 15px;
}

.southpark {
  font-size: 1.10em;
  font-weight: normal;
  letter-spacing: .75px;
  mat-icon.mat-icon.material-icons {
    vertical-align: sub;
  }
  
  
}//southpark







.jumbotron {
  background:url(../../assets/images/spbg.png) repeat-x center top;
  background-size: cover;
  padding-top: 90px;
  
}

.intro {
  @include intro();
}




