@import '~@angular/material/theming';

@mixin header-anim {
  opacity: 1;
  transform: translateY(0);
  transition: transform .3s cubic-bezier(.4,0,.2,1) .3s,opacity 0s .3s;
}

.header {
  @include header-anim();
  
  a.login, a.register {
    @media screen and (max-width:1199px) {
      width:60px;
      padding:0 5px;
      @media screen and (max-width:599px) {
        max-height: 56px;
      }
    
      span {
        display: none !important;
      }//span
      i {
        text-align: center;
        width:110px;
        @media screen and (max-width:599px) {
          max-height: 56px !important;
          line-height: 56px !important;
        }
        font-size: 24px !important;
      }
    }//599

    color:#fff;
    transition: color .1s cubic-bezier(.4,0,.2,1);
    width: 125px;
    margin-right: 3%;
    display: flex;
    flex-direction: row;
    max-height: 64px;
    font-weight: normal;
    height: auto;
    cursor: pointer;
    text-decoration: none;
    padding: 0 10px;
    i {
      line-height: 64px;
      vertical-align: middle;
      font-size: 28px;

    }//i
    span {
      display: inline-block;
      letter-spacing: .5px;
      margin-left: 10px;
      line-height: 64px;
      font-size: 16px;
      vertical-align: middle;
    }//span
    &:focus,&:active {
      outline: none;
    }

  }//login

  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  opacity: 1;
  background: #673ab7;

  a.register {
    margin-right: 10px;
    width:150px;
    @media screen and (max-width:1199px) {
      width:60px;
      padding:0 5px;
      margin-right: 0;
    }//599


  }//register
  

  
  &.header-show {
    @include header-anim();
  }// header-show  

  .mat-toolbar {
    margin-left: 1%;
    @media screen and (max-width:599px) {
      margin-left: 0px;  
      .southpark {
        font-size: 18px !important;
        .mat-icon.material-icons {
          line-height: 22px;
          vertical-align: middle !important;
        }
      }//southpark
    }//599
    .southpark {
      font-size: 20px;
      font-weight: normal;
      letter-spacing: .35px;
      mat-icon.mat-icon.material-icons {
        vertical-align: sub;
      }

    }//southpark

    


  }//mat-toolbar


  

}// header




