@mixin header-anim {
  opacity: 1;
  transform: translateY(0);
  transition: transform .3s cubic-bezier(.4,0,.2,1) .3s,opacity 0s .3s;
}

.header {
  opacity: 1;
  &.header-show {
    @include header-anim();
  }// header-show  

  .southpark {
    font-size: 1.10em;
    font-weight: normal;
    letter-spacing: .75px;
    mat-icon.mat-icon.material-icons {
      vertical-align: sub;
    }
    
    
  }//southpark

}// header









