@mixin header-anim {
  opacity: 1;
  transform: translateY(0);
  transition: transform .3s cubic-bezier(.4,0,.2,1) .3s,opacity 0s .3s;
}

.header {
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  opacity: 1;
  background: #673ab7;
  &.header-show {
    @include header-anim();
  }// header-show  
  .mat-toolbar {
    margin-left: 3%;
    .southpark {
      font-size: 20px;
      font-weight: normal;
      letter-spacing: .35px;
      mat-icon.mat-icon.material-icons {
        vertical-align: sub;
      }
      
    }//southpark



  }//mat-toolbar
  button.login {
    height: auto;
    max-height: 64px;
    width:110px;
    background:beige;
    margin-right:4%;
    text-align: center;
    color:#fff;
    background: #6f41c7d9;
    letter-spacing: .35px;
    border:1px solid #5f33ad;
  }

  

}// header









