<header class="header header-show mat-elevation-z6">
  <mat-toolbar color="primary">
    <button class="southpark" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon> SouthPark Menu
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span class="mat-subheading-2">Home</span>
      </button>
      <button mat-menu-item routerLink="/cast">
        <mat-icon>theaters</mat-icon>
        <span class="mat-subheading-2">Cast</span>
      </button>
      <button mat-menu-item routerLink="seasons">
        <mat-icon>video_label</mat-icon>
        <span class="mat-subheading-2">Seasons</span>
      </button>
      <button mat-menu-item routerLink="contact">
        <mat-icon>person_pin</mat-icon>
        <span class="mat-subheading-2">Contact</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <a id="register" class="register" mat-menu-item (click)="openRegisterForm()">
    <i class="material-icons">inbox</i><span>Register</span>
  </a>

  <a id="login" class="login" 
    mat-menu-item
    (click)="openLoginForm()">
    <i class="material-icons">person</i><span>Login</span>
  </a>

 </header> 




<app-jumbo></app-jumbo>




