<mat-toolbar color="primary">
  <button class="southpark" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon> SouthPark Menu
  </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
        routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item
        routerLink="/cast">
        <mat-icon>theaters</mat-icon>
        <span>Cast</span>
      </button>
      <button mat-menu-item
        routerLink="seasons">
        <mat-icon>video_label</mat-icon>
        <span>Seasons</span>
      </button>
      <button mat-menu-item
        routerLink="contact">
        <mat-icon>person_pin</mat-icon>
        <span>Contact</span>
      </button>
    </mat-menu>
  

</mat-toolbar>

<div class="jumbotron">
  <div class="container">
    <h1>{{jumboGreeting}}</h1>
    <p class="intro">A little bit of Flex/angular-material and bootstrap. It's <strong>bootmaflex</strong>. Router-link/Activated-route, location for home-featured. Home-random below uses *ngIf/css to display details and goback fn.
    Home/featured passes data through url params, while home-random passes data using input. 
    Season10 seating in seasons page atm. 
    Services holds most fn and shared holds different objects n json data.
    Episodes is now cast.</p>
    
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
    </p>
  </div>
</div>
