<mat-toolbar color="primary">
  <button class="southpark" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon> SouthPark Menu
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
      routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item
      routerLink="/episodes">
      <mat-icon>theaters</mat-icon>
      <span>Episodes</span>
    </button>
    <button mat-menu-item
      routerLink="seasons">
      <mat-icon>video_label</mat-icon>
      <span>Seasons</span>
    </button>
    <button mat-menu-item
      routerLink="contact">
      <mat-icon>person_pin</mat-icon>
      <span>Contact</span>
    </button>
  </mat-menu>

</mat-toolbar>

<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>Flex/material slowing me down!!. A bit of bootstrap isn't going to hurt anyone for right now. Let's do <strong>bootmatflex</strong> instead. Season10 in seasons page. Css, right size images etc not yet - also have season10 component and service, separate routing module, material module and pages (routing), shared folders ... jumbotron and
      three supporting pieces of content..</p>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
    </p>
  </div>
</div>
